<?xml version="1.0" encoding="UTF-8"?>
<Configuration  status="WARN">
    <Properties>
        <Property name="LOG_FORMAT">%d{yyyy-MM-dd HH:mm:ss} %c{1} [%p] %m%n</Property>
        <Property name="BASE_DIR">/logs/myproject</Property>
    </Properties>

    <Appenders>
        
        <Console name="console" target="SYSTEM_OUT" >
            <PatternLayout pattern="${LOG_FORMAT}"/>
        </Console>
  
        <RollingFile name="init"
                     fileName="${BASE_DIR}/init/init.log"
                     filePattern="${BASE_DIR}/init/init.%d{yyyyMMdd}.log">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${BASE_DIR}">
                    <IfFileName glob="*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="web"
                     fileName="${BASE_DIR}/default/web.log"
                     filePattern="${BASE_DIR}/default/web.%d{yyyyMMdd}.log">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            
        </RollingFile>
        <RollingFile name="db"
                     fileName="${BASE_DIR}/default/db.log"
                     filePattern="${BASE_DIR}/default/db.%d{yyyyMMdd}.log">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            
        </RollingFile>
        <RollingFile name="exception"
                     fileName="${BASE_DIR}/default/exception.log"
                     filePattern="${BASE_DIR}/default/exception.%d{yyyyMMdd}.log">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug" additivity="false" >
            <AppenderRef ref="console" />
        </Root>
        <Logger name="com.myproject.config" level="info" >
            <AppenderRef ref="init"/>
        </Logger>
        <Logger name="org.springframework" level="info" >
            <AppenderRef ref="init"/>
        </Logger>
        <Logger name="com.myproject.interceptor" level="debug" >
            <AppenderRef ref="web"/>
        </Logger>
        <Logger name="com.myproject.controller" level="debug">
            <AppenderRef ref="web" />
        </Logger>
        <Logger name="com.myproject.service" level="debug" >
            <AppenderRef ref="web"/>
        </Logger>
        <Logger name="com.myproject.servlet" level="debug" >
            <AppenderRef ref="web"/>
        </Logger>
        <Logger name="com.myproject.repository" level="debug" >
            <AppenderRef ref="db"/>
        </Logger>
        <Logger name="com.myproject" level="error" >
            <AppenderRef ref="exception"/>
        </Logger>
    </Loggers>
</Configuration>